# Table of Contents
 <p><div class="lev1 toc-item"><a href="#SixQuant" data-toc-modified-id="SixQuant-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>SixQuant</a></div><div class="lev1 toc-item"><a href="#实时数据" data-toc-modified-id="实时数据-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>实时数据</a></div><div class="lev3 toc-item"><a href="#股票列表" data-toc-modified-id="股票列表-201"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>股票列表</a></div><div class="lev4 toc-item"><a href="#所有股票代码" data-toc-modified-id="所有股票代码-2011"><span class="toc-item-num">2.0.1.1&nbsp;&nbsp;</span>所有股票代码</a></div><div class="lev4 toc-item"><a href="#小盘股股票代码" data-toc-modified-id="小盘股股票代码-2012"><span class="toc-item-num">2.0.1.2&nbsp;&nbsp;</span>小盘股股票代码</a></div><div class="lev3 toc-item"><a href="#基本信息" data-toc-modified-id="基本信息-202"><span class="toc-item-num">2.0.2&nbsp;&nbsp;</span>基本信息</a></div><div class="lev4 toc-item"><a href="#股票名称" data-toc-modified-id="股票名称-2021"><span class="toc-item-num">2.0.2.1&nbsp;&nbsp;</span>股票名称</a></div><div class="lev4 toc-item"><a href="#流通盘及流通市值" data-toc-modified-id="流通盘及流通市值-2022"><span class="toc-item-num">2.0.2.2&nbsp;&nbsp;</span>流通盘及流通市值</a></div><div class="lev3 toc-item"><a href="#实时个数数据" data-toc-modified-id="实时个数数据-203"><span class="toc-item-num">2.0.3&nbsp;&nbsp;</span>实时个数数据</a></div><div class="lev4 toc-item"><a href="#个股股价信息" data-toc-modified-id="个股股价信息-2031"><span class="toc-item-num">2.0.3.1&nbsp;&nbsp;</span>个股股价信息</a></div><div class="lev4 toc-item"><a href="#个股资金信息" data-toc-modified-id="个股资金信息-2032"><span class="toc-item-num">2.0.3.2&nbsp;&nbsp;</span>个股资金信息</a></div><div class="lev4 toc-item"><a href="#所有个股数据" data-toc-modified-id="所有个股数据-2033"><span class="toc-item-num">2.0.3.3&nbsp;&nbsp;</span>所有个股数据</a></div><div class="lev4 toc-item"><a href="#指定字段" data-toc-modified-id="指定字段-2034"><span class="toc-item-num">2.0.3.4&nbsp;&nbsp;</span>指定字段</a></div><div class="lev4 toc-item"><a href="#只要小盘非ST非次新股" data-toc-modified-id="只要小盘非ST非次新股-2035"><span class="toc-item-num">2.0.3.5&nbsp;&nbsp;</span>只要小盘非ST非次新股</a></div><div class="lev1 toc-item"><a href="#历史数据" data-toc-modified-id="历史数据-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>历史数据</a></div><div class="lev1 toc-item"><a href="#辅助函数" data-toc-modified-id="辅助函数-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>辅助函数</a></div><div class="lev3 toc-item"><a href="#交易日期时间相关" data-toc-modified-id="交易日期时间相关-401"><span class="toc-item-num">4.0.1&nbsp;&nbsp;</span>交易日期时间相关</a></div><div class="lev4 toc-item"><a href="#是否是交易时间" data-toc-modified-id="是否是交易时间-4011"><span class="toc-item-num">4.0.1.1&nbsp;&nbsp;</span>是否是交易时间</a></div><div class="lev1 toc-item"><a href="#工具函数" data-toc-modified-id="工具函数-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>工具函数</a></div><div class="lev3 toc-item"><a href="#格式化" data-toc-modified-id="格式化-501"><span class="toc-item-num">5.0.1&nbsp;&nbsp;</span>格式化</a></div><div class="lev3 toc-item"><a href="#日期时间相关" data-toc-modified-id="日期时间相关-502"><span class="toc-item-num">5.0.2&nbsp;&nbsp;</span>日期时间相关</a></div>

# SixQuant
支持本地缓存的轻量级快速股票数据API接口

In [1]:
# 为了方便直接调用本地最新源码而不是安装好的包
import os
if os.path.exists('support_sixquant.py'):
    import support_sixquant

2017-11-03 17:44:16,851 DEBUG - Local code path: /Users/C/work/workspace/sixquant/sixquant/
2017-11-03 17:44:16,852 DEBUG - Local data path: /Volumes/Cloud/DataSet/stock

In [2]:
import sixquant as sq

# 实时数据

### 股票列表

#### 所有股票代码

In [3]:
stocks = sq.get_stocks()
len(stocks),stocks[:5]

(3412, array(['603937', '300713', '603912', '300711', '300712'], dtype=object))

#### 小盘股股票代码

In [4]:
stocks = sq.get_stocks(small_only=True)
len(stocks),stocks[:5]

(610, array(['603937', '300713', '603912', '300711', '300712'], dtype=object))

### 基本信息

#### 股票名称

In [15]:
sq.get_stock_name('603999')

'读者传媒'

#### 流通盘及流通市值

In [17]:
print(sq.get_stock_circulation('603999'))
print(sq.get_stock_circulation_cap('603999'))

2.3
21.09

### 实时个数数据

#### 个股股价信息

In [21]:
df = sq.get_day_today_quote(dropna=True)
print(len(df))
df.head()

3232

,prev_close,open,close,high,low,volume,amount,pt_price,pt_ampl,pt_turn,time
603999,9.17,9.23,9.13,9.23,9.08,1083200.0,9890000.0,-0.44,1.6,0.4,2017-11-03 10:38:00
603998,13.51,13.50,13.58,13.61,13.45,390300.0,5290000.0,0.52,1.1,0.1,2017-11-03 10:38:00
603997,12.90,12.87,12.99,13.00,12.81,555900.0,7180000.0,0.70,1.4,0.3,2017-11-03 10:38:00
603996,18.60,18.56,19.08,19.20,18.46,4285800.0,81320000.0,2.58,3.9,4.1,2017-11-03 10:38:00
603993,7.01,6.90,6.96,7.06,6.88,36848400.0,257330000.0,-0.71,2.5,0.2,2017-11-03 10:38:00

In [22]:
df = sq.get_day_today_quote(fields=['close','pt_price'],dropna=True)
print(len(df))
df.head()

3232

        close  pt_price
603999   9.13     -0.44
603998  13.58      0.52
603997  12.99      0.70
603996  19.08      2.58
603993   6.96     -0.71

#### 个股资金信息

In [23]:
df = sq.get_day_today_money(dropna=True)
print(len(df))
df.head()

3232

,price,pt_price,money_major,pt_money_major,money_huge,pt_money_huge,money_large,pt_money_large,money_medium,pt_money_medium,money_small,pt_money_small,time
603997,12.95,0.39,552600.0,2.17,-19500.0,-0.08,572100.0,2.24,-1768900.0,-6.94,1216300.0,4.77,2017-11-03 15:00:00
603996,18.97,1.99,-968900.0,-0.54,-1468000.0,-0.82,499100.0,0.28,12051300.0,6.71,-11082500.0,-6.17,2017-11-03 15:00:00
603993,6.90,-1.57,-120230400.0,-14.92,-91330100.0,-11.34,-28900300.0,-3.59,55482800.0,6.89,64747700.0,8.04,2017-11-03 15:00:00
603990,39.54,0.46,1590600.0,7.70,1686300.0,8.16,-95700.0,-0.46,-1315700.0,-6.37,-275000.0,-1.33,2017-11-03 15:00:00
603989,36.98,-2.22,1047300.0,1.32,719200.0,0.91,328200.0,0.41,-9066600.0,-11.45,8019200.0,10.13,2017-11-03 15:00:00

In [24]:
df = sq.get_day_today_money(fields=['money_major','money_small'], dropna=True)
print(len(df))
df.head()

3232

        money_major  money_small
603997     552600.0    1216300.0
603996    -968900.0  -11082500.0
603993 -120230400.0   64747700.0
603990    1590600.0    -275000.0
603989    1047300.0    8019200.0

#### 所有个股数据
包括当前价格和成交量等，服务器上每5秒更新一次数据，请不要过于频繁调用

In [5]:
df = sq.get_day_today()
print(len(df))
df.head()

3232

,prev_close,open,close,high,low,volume,amount,pt_price,pt_ampl,pt_turn,...,money_major,pt_money_major,money_huge,pt_money_huge,money_large,pt_money_large,money_medium,pt_money_medium,money_small,pt_money_small
000001,11.54,11.49,11.46,11.51,11.37,22839400.0,261200000.0,-0.69,1.2,0.1,...,26144600.0,3.10,25029500.0,2.97,1115100.0,0.13,-15303400.0,-1.81,-10841200.0,-1.28
000002,29.45,29.23,28.86,29.52,28.45,17171200.0,496520000.0,-2.00,3.6,0.1,...,-65003400.0,-5.09,-70189500.0,-5.49,5186100.0,0.41,-24442000.0,-1.91,89445400.0,7.00
000004,23.60,23.60,23.55,23.66,23.42,172800.0,4070000.0,-0.21,1.0,0.2,...,-464000.0,-4.23,0.0,0.00,-464000.0,-4.23,-594900.0,-5.42,1058900.0,9.65
000005,4.62,4.62,4.59,4.63,4.58,1362700.0,6260000.0,-0.65,1.0,0.1,...,-1055500.0,-4.23,2113200.0,8.48,-3168700.0,-12.71,-2341000.0,-9.39,3396500.0,13.62
000008,9.17,9.17,8.90,9.20,8.86,4787400.0,43070000.0,-2.94,3.7,0.2,...,46120600.0,25.10,25125500.0,13.67,20995100.0,11.43,-28975800.0,-15.77,-17144800.0,-9.33

#### 指定字段

In [6]:
df = sq.get_day_today(fields=['close','volume','amount','pt_price','pt_ampl','pt_turn','money_major','money_small','time'], dropna=True)
print(len(df))
df.head()

3232

,close,volume,amount,pt_price,pt_ampl,pt_turn,money_major,money_small,time
000001,11.46,22839400.0,261200000.0,-0.69,1.2,0.1,26144600.0,-10841200.0,2017-11-03 10:38:00
000002,28.86,17171200.0,496520000.0,-2.00,3.6,0.1,-65003400.0,89445400.0,2017-11-03 10:38:00
000004,23.55,172800.0,4070000.0,-0.21,1.0,0.2,-464000.0,1058900.0,2017-11-03 10:38:00
000005,4.59,1362700.0,6260000.0,-0.65,1.0,0.1,-1055500.0,3396500.0,2017-11-03 10:38:00
000008,8.90,4787400.0,43070000.0,-2.94,3.7,0.2,46120600.0,-17144800.0,2017-11-03 10:38:00

#### 只要小盘非ST非次新股

In [7]:
df = sq.get_day_today(fields=['close','volume','amount','pt_price'], small_only=True, no_st=True, no_subnew=True)
print(len(df))
df.head()

232

        close     volume      amount  pt_price
300560  33.13  1642300.0  54430000.0     -4.17
300559  41.58    65800.0   2710000.0     -0.02
300557  43.08    97100.0   4180000.0     -0.23
603716  51.21   133800.0   6820000.0      0.08
002817  33.35   151600.0   5050000.0      0.24

# 历史数据

# 辅助函数

### 交易日期时间相关
- get_last_trading_day()          返回最近一个交易日
- get_last_histrade_day(days=0)   返回最近一个历史交易日
- get_delta_trade_day(date, days) 返回前后days个交易日
- get_prev_trade_day(date)      获取上一交易日
- get_next_trade_day(date) 获取下一交易日

#### 是否是交易时间

In [18]:
sq.is_trading_day('2017-10-09')

True

In [19]:
sq.is_trading_day_today()

True

In [11]:
sq.is_trading_time('2017-10-09 10:00:00')

True

In [9]:
sq.is_trading_time_now()

False

# 工具函数

### 格式化
- fmt_round_number(count, keep_width=False):
- fmt_file_size(size):
- fmt_money(money):
- fmt_numpy_datetime64(t, fmt):

In [30]:
sq.fmt_round_number(1),sq.fmt_round_number(1.2345)

('1', '1.23')

In [33]:
sq.fmt_file_size(1),sq.fmt_file_size(1024),sq.fmt_file_size(8192),sq.fmt_file_size(819200)

('1', '1K', '8K', '800K')

In [35]:
sq.fmt_money(1000),sq.fmt_money(1000000)

('1000', '100.00万')

### 日期时间相关

In [26]:
sq.is_holiday('2017-10-01')

True

In [27]:
sq.is_holiday_today()

False